@import "https://fonts.googleapis.com/css?family=Lato:300,400,700";
@import "https://fonts.googleapis.com/css?family=Bungee+Shade|Fontdiner+Swanky|Slackey";
body {
  background-color: #ebece0; }

main {
  margin-top: 20px; }

h1, h2, h3, h4, h5, h6 {
  font-family: lato; }

.container {
  width: 90%; }

.row {
  margin-bottom: 0%;
  padding: 0px 0rem;
  overflow: hidden; }

.row .col {
  padding: 0px 0rem; }

.bottom-row {
  margin-bottom: 2%; }

.btn {
  border-radius: 0px;
  font-size: 20px;
  font-family: Lato;
  font-weight: 400;
  background-color: #e70e51;
  box-shadow: 0 0px; }

.modal {
  max-height: 80%;
  width: 90%; }

.modal.modal-fixed-footer {
  height: 80%; }

.row .col .modal-project-img {
  padding-top: 25px; }

/* Nav */
nav {
  background-color: #fff;
  position: fixed;
  height: 90px; }

.nav-links {
  color: #e70e51;
  text-transform: uppercase;
  font-weight: 300;
  font-size: 25px; }

.nav-links-contact {
  padding-top: 16%; }

.nav-ul {
  margin-right: 20px; }

.nav-ul-li {
  padding: 5% 0% 0% 0%; }

.nav-ul-li-contact {
  padding: 19% 0% 0% 0%; }

.nav-logo {
  height: 50px; }

nav .brand-logo {
  padding: 20px; }

.nav-hamburger {
  color: #e70e51;
  padding: 12px 20px; }

.side-nav {
  background-color: #e70e51; }

.side-nav-link {
  padding-top: 5%;
  font-family: Lato;
  font-weight: 300;
  color: white;
  text-transform: uppercase; }

.section-cover {
  background-color: #e70e51;
  background-attachment: scroll;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  padding: 40px; }

.section-cover-img {
  background: url(images/emma-logo-transparent.png) center center no-repeat;
  width: 100%;
  background-size: contain;
  background-color: #e70e51;
  padding-top: 85px; }

.section-headline {
  color: #383838;
  text-align: center;
  font-size: 25px;
  border-bottom: 3px solid #ced4d9;
  padding-bottom: 10px;
  margin: 10px 28%;
  font-weight: bold; }

.section-text {
  line-height: 1.5;
  color: #383838;
  font-weight: 300;
  font-size: 20px;
  margin: 3% 7%;
  text-align: center; }

.section-about {
  padding: 7%;
  text-align: center; }

.section-projects {
  background-color: white; }

.section-work {
  padding: 7%;
  background-color: #5bbdb8;
  background-image: url(https://www.transparenttextures.com/patterns/diamond-upholstery.png);
  background-size: contain; }

.section-all-work {
  margin-top: 0%;
  text-align: center;
  padding: 65px 7%;
  background-color: #5bbdb8;
  background-image: url(https://www.transparenttextures.com/patterns/diamond-upholstery.png);
  background-size: contain; }

.allwork-btn {
  margin-top: -3.5%; }

.section-work-h3 {
  text-align: center;
  font-size: 20px;
  text-transform: uppercase;
  color: black;
  font-weight: 300; }

.section-work-img {
  display: block;
  height: 150px;
  width: 150px;
  margin-right: auto;
  margin-left: auto; }

.section-projects-row-one {
  line-height: 0;
  padding-top: 10px;
  padding-bottom: 5px; }

.section-projects-row-two {
  line-height: 0;
  padding-top: 5px;
  padding-bottom: 10px; }

.section-projects-block-one, .section-projects-block-three {
  margin-right: 5px;
  padding-right: 5px; }

.section-projects-block-two, .section-projects-block-four {
  margin-left: 5px;
  padding-right: 5px; }

.section-projects-img-computers {
  max-width: 100%;
  height: auto;
  /* margin: 2% 0% 0% 0%; */
  z-index: 0; }

.section-projects-h3 {
  font-family: lato;
  display: none;
  color: #e1e1e1;
  font-size: 32px;
  z-index: 200;
  position: absolute;
  text-align: center;
  top: 30%;
  width: 100%; }

.section-projects-h4 {
  display: none;
  color: #e1e1e1;
  font-size: 25px;
  z-index: 200;
  position: absolute;
  text-align: center;
  top: 50%;
  width: 100%; }

.section-contact {
  text-align: center;
  margin-top: -2.5%;
  padding: 7%;
  background-color: #ebece0; }

.section-contact-text {
  text-align: center;
  font-size: 50px;
  margin-top: 0px; }

.footer {
  text-align: center;
  margin-top: -20px;
  margin-bottom: 20px; }

.social-btns {
  padding-top: -30px; }

.social-btns-li {
  padding: 0px 10px; }

.social-ul {
  text-align: center;
  display: inline-block;
  margin: 0px 35px; }

.social-li {
  float: left;
  margin: 0px 10px; }

.social-li-h3 {
  color: #e70e51;
  font-size: 30px; }

/* Project Page */
.section-project-page-grid {
  margin: 60px 0px; }

.section-projects-page-h3 {
  font-family: lato;
  display: none;
  color: #e1e1e1;
  font-size: 30px;
  z-index: 200;
  position: absolute;
  text-align: center;
  top: 30%;
  width: 100%; }

.section-projects-page-h4 {
  display: none;
  color: #e1e1e1;
  font-size: 20px;
  z-index: 200;
  position: absolute;
  text-align: center;
  top: 50%;
  width: 100%; }

.filter-btns {
  margin: 40px 0px 5px 0px; }

.filter-span {
  font-size: 20px; }

.filter-btn {
  color: #e70e51;
  font-family: lato;
  border: none;
  background-color: transparent;
  text-transform: uppercase;
  font-size: 20px; }

/* About Page */
.about-header {
  background-color: #e70e51;
  height: 200px;
  background-image: url(https://www.transparenttextures.com/patterns/diamond-upholstery.png);
  background-attachment: fixed;
  width: 100%; }

.about-h1 {
  text-align: center;
  line-height: 2.5;
  color: white; }

.about-p {
  font-size: 16px;
  text-align: center; }

/* Hover States */
.side-nav-link:hover, .nav-links:hover, .social-li-h3:hover {
  color: #5bbdb8; }

.filter-btn:hover, .btn:hover {
  color: #e70e51; }

nav ul a:hover {
  background-color: #ebece0; }

.tint {
  position: relative;
  float: left;
  cursor: pointer;
  /* change width on tint to 100% at mobile breakpoint */
  width: 50%; }

.tint:before {
  background: none; }

.tint:hover:after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(231, 14, 81, 0.8);
  -moz-transition: all .3s linear;
  -webkit-transition: all .3s linear;
  -ms-transition: all .3s linear;
  -o-transition: all .3s linear;
  transition: all .3s linear; }

.tint:hover .section-projects-h3, .tint:hover .section-projects-h4 {
  display: inline-block; }

.tint2 {
  position: relative;
  float: left;
  cursor: pointer;
  width: 50%; }

.tint2:before {
  background: none; }

.tint2:hover .section-projects-h3, .tint2:hover .section-projects-h4 {
  display: inline-block; }

.tint2:hover:after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(231, 14, 81, 0.8);
  -moz-transition: all .3s linear;
  -webkit-transition: all .3s linear;
  -ms-transition: all .3s linear;
  -o-transition: all .3s linear;
  transition: all .3s linear; }

.tint3 {
  position: relative;
  float: left;
  cursor: pointer;
  width: 50%; }

.tint3:before {
  background: none; }

.tint3:hover .section-projects-h3, .tint3:hover .section-projects-h4 {
  display: inline-block; }

.tint3:hover:after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(231, 14, 81, 0.8);
  -moz-transition: all .3s linear;
  -webkit-transition: all .3s linear;
  -ms-transition: all .3s linear;
  -o-transition: all .3s linear;
  transition: all .3s linear; }

.tint4 {
  position: relative;
  float: left;
  cursor: pointer;
  width: 50%; }

.tint4:before {
  background: none; }

.tint4:hover .section-projects-h3, .tint4:hover .section-projects-h4 {
  display: inline-block; }

.tint4:hover:after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(231, 14, 81, 0.8);
  animation: 1s ease-in-out; }

.section-contact:hover .turn-green, .footer:hover .turn-green {
  color: #5bbdb8;
  transition: 1s; }
.section-contact:hover .turn-pink, .footer:hover .turn-pink {
  color: #e70e51;
  transition: .5s; }

.btn:hover {
  box-shadow: 0 0px; }
  .btn:hover .btn {
    color: #e70e51; }

ul > li > a:hover {
  background-color: white; }

/* Plugin CSS */
#Container .mix {
  display: none; }

@media only screen and (min-width: 0) and (max-width: 600px) {
  .section-projects-row-one {
    padding-bottom: 0px; }

  .section-projects-row-two {
    padding-top: 0px; }

  .section-projects-block-one {
    padding-bottom: 5px;
    padding-right: 0px; }

  .section-projects-block-two {
    margin: 5px 0px;
    padding: 0px; }

  .section-projects-block-three {
    margin: 5px 0px;
    padding: 0px; }

  .section-projects-block-four {
    margin: 5px 0px;
    padding: 0px; }

  .section-projects-img-computers {
    margin-top: 5px; }

  .about-header {
    background-attachment: scroll; }

  .tint, .tint2, .tint3, .tint4 {
    width: 100%; }

  .tint:hover .section-projects-h3, .tint:hover .section-projects-h4, .tint2:hover .section-projects-h3, .tint2:hover .section-projects-h4, .tint3:hover .section-projects-h3, .tint3:hover .section-projects-h4, .tint4:hover .section-projects-h3, .tint4:hover .section-projects-h4 {
    display: none; }

  .tint:hover:after, .tint2:hover:after, .tint3:hover:after, .tint4:hover:after {
    display: none; } }
@media only screen and (min-width: 601px) {
  .container {
    width: 97.7%; }

  .nav-logo {
    margin-left: 10px; }

  .section-cover-img {
    visibility: hidden; }

  .section-cover {
    background-image: url("../images/emma-logo-transparent.png");
    background-attachment: fixed;
    background-size: contain;
    background-repeat: no-repeat;
    width: 100%;
    background-position: 50% 100px; }

  .section-headline {
    margin: 10px 35.5%; }

  .section-projects-h3 {
    font-size: 30px; }

  .section-projects-h4 {
    font-size: 20px; }

  .tint, .tint2, .tint3, .tint4 {
    width: 50%; } }
@media (min-width: 993px) {
  .container {
    width: 97.5%; }

  .col {
    padding: 0px; }

  .section-headline {
    font-size: 30px;
    margin: 10px 39%; }

  .section-work-h3 {
    font-size: 25px; }

  .section-text {
    font-size: 25px; }

  .section-projects-h3 {
    font-size: 45px; }

  .section-projects-h4 {
    font-size: 30px; } }

/*# sourceMappingURL=main.css.map */
